/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
* {
    box-sizing: border-box;
}


/*
    -----ABOUT SECTION-----
*/
#about{
    background-image: url('/img/itnw.jpg');
    /*background-color: dimgrey;*/
    background-size: cover;
    height: 100vh;
}

#about h1{
    padding-top: 20px;
}

#about h1, #about p{
    margin-left: 20%;
    margin-top: 0;
    color: white;
    font-size: 1.4em;
}


/*
    -----PROJECT SECTION-----
*/
#project{background-color: darkseagreen;}

.featurette, .featurette-divider{display: none;}

#project h2{
    padding-top: 20px;
    margin-top: 0;
}

#project{padding-bottom: 40px;}

#contact{padding: 20px;}


/*
    -----CONTACT SECTION-----
*/

#contact>*{padding: 0 20px;}

#social-icons{text-align: center;}

.fa-github, .fa-twitter{font-size: 2em;}

.myImg{
    vertical-align: middle;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

#contact .col-md-6{text-align: center;}






/*==========  Mobile First Method  ==========*/

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    
    #project{padding: 0 5%;}
    #project{padding-bottom: 40px;}
    
    #contact>*{padding: 0 10%;} 
    
    #myCarousel{display: none;}
    
    .featurette, .featurette-divider{display: block;}
    
    /* Featurettes
    ------------------------- */
    .featurette-divider {margin: 80px 0; /* Space out the Bootstrap <hr> more */ }

    /* Thin out the marketing headings */
    .featurette-heading {
        font-weight: 300;
        line-height: 1;
        letter-spacing: -1px;
    }
    
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}